.root {
  display: block;
  border: 1px solid grey;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  margin: 0 auto;
}

.board {
  fill: hsl(224, 70%, 52%);
}

.cells {
  fill: hsl(0, 50%, 97%);
}

.cell {
  stroke: hsla(0, 20%, 51%, 0.4);
  stroke-width: 4px;
}

.cellPlayer1, .cellPlayer2 {
  stroke: hsl(224, 70%, 30%);
}

.cellPlayer1 {
  fill: hsl(0, 0%, 8%);
}

.cellPlayer2 {
  fill: hsl(0, 100%, 50%);
}